<div class="row">
  <div class="col-6">
    {{#each burger}}
      {{#unless devoured}}
        <div class="btn-group">
          <div>{{burger_name}}</div>
          <button data-id="{{id}}" class="btn btn-success ml-2 devour-button">Devour</button>
        </div>
      {{/unless}}
    {{/each}}
  </div>
  <div class="col-6">
    {{#each burger}}
      {{#if devoured}}
        <div>{{burger_name}}</div>
      {{/if}}
    {{/each}}
  </div>
</div>
